@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background-color: #171a1c;
    color: #f2f2f2;
    margin: 0 8% 0 8%;
    font-family: Nunito, sans-serif;
    font-weight: 300;
}

/* headings */

h1,
h2 {
    font-family: Nunito, sans-serif;
    font-weight: 500;
    color: #fbc600;
    text-transform: uppercase;
}

/* navigation links - Tutorial for CSS only Hamburger menu: https: //www.youtube.com/watch?v=QQlxvj_GKss */

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
}

.logo img {
    width: 180px;
}

.menu {
    display: flex;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    color: #fcb600;
    font-family: Nunito, sans-serif;
    font-weight: 500;
    font-size: 150%;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
    margin-left: 40px;
}

.menu a:hover {
    border-bottom: 3px solid #fbc600;
}

.active {
    border-bottom: 3px solid #ff0000;
}

.menu a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}

.menu a:hover:after {
    width: 100%;
}

.open-menu,
.close-menu {
    position: absolute;
    color: #fcb600;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

#hamburger-icon {
    text-align: right;
}

#close-icon {
    text-align: right;
    top: 50px;
    right: 8%;
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

@media(max-width: 980px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10000;
        background-color: #171a1c;
        transition: all 0.2s ease-in-out;
    }

    .logo img {
            scale: 80%;
        }

    .menu a {
        padding: 10px;
        margin-top: 24px;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }
}

/* hero image slider - Tutorial for hero slider using CSS only: https: //www.w3docs.com/snippets/css/how-to-create-an-image-slider-or-slideshow.html#slide-1 */

.hero-slider {
    height: auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-radius: 8px;
    margin-top: 2%;
}

.hero-slider img {
    z-index: -1;
    width: 100%;
    height: auto;
}

.hero-slider input {
    visibility: hidden;
}

.slider-menu {
    position: absolute;
    left: 0;
    bottom: 3%;
    z-index: 900;
    width: 100%;
}

.slider-menu label {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fbc600;
    border-radius: 50px;
    border: 4px solid #171a1c;
    margin: 0 0.2em 1em;
}

.slider-menu label:hover,
.slider-menu label:focus,
.slider-menu label:active {
    background: #ff0000;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    transition: left 0s 0.75s;
}

[id^="slide"]:checked+.slide {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}

.slide-1 {
    background-image: url("../images/hero1.png");
    border-radius: 8px;
}

.slide-2 {
    background-image: url("../images/hero2.png");
    border-radius: 8px;
}

.slide-3 {
    background-image: url("../images/hero3.png");
    border-radius: 8px;
}

/* tour dates */

#tourdates {
    margin-top: 2%;
    font-size: 180%;
}

table {
    width: 100%;
    table-layout: fixed;
}

td {
    height: 60px;
    text-align: left;
    vertical-align: middle;
    border-bottom: 3px solid #ff0000;
    font-size: 110%;
    font-weight: 500;
}

.button {
    background-color: #fcb600;
    height: 40px;
    border: none;
    color: #171a1c;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 110%;
    border-radius: 8px;
}

.ticket-button {
    text-align: right;
}

@media screen and (max-width: 800px) {
    #tourdates {
        font-size: 150%;
    }
    
    table tr {
        display: block;
        border-bottom: 3px solid #ff0000;
        margin-top: 24px;
    }

    table td {
        display: block;
        border-bottom: none;
        text-align: center;
        height: 48px;
    }

    .ticket-button {
        text-align: center;
        margin-bottom: 24px;
    }
}

/* footer */

#footer {
    display: flex;
    align-content: center;
    height: auto;
    flex-flow: row wrap;
    margin: 32px 0 32px 0;
}

#footer i {
    font-size: 180%;
    margin: 0 16% 0 2%;
    padding: 0;
    color: #fcb600;
    width: 30px;
}

#copyright {
    justify-content: flex-start;
    width: 25%;
}

#social-icons {
    justify-content: center;
    width: 75%;
}

@media screen and (max-width: 800px){
    #footer i {
        margin: 0 5% 0 2%;
    }

    #social-icons {
        text-align: center;
        width: 100%;
    }

    #copyright {
        width: 100%;
        margin-bottom: 12px;
        text-align: center;
    }
}

/* Band page */

#band-members {
    clear: both;
}

#band {
    margin-top: 12px;
    font-size: 180%;
    margin-bottom: 12px;
}

.member-photos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.member-photos img {
    border-radius: 8px;
}

/* Image overlay */

.image {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-image: url(..images/overlay.png);
}

.image:hover .overlay {
    opacity: 1;
}

.overlay-text {
    color: #f2f2f2;
    font-size: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
}

.overlay-text p {
    font-size: 110%;
}

/* Discography page */

#discography {
    clear: both;
}

#discography h1 {
    margin-top: 36px;
    font-size: 180%;
    margin-bottom: 32px;
}

.albums {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.albums img {
    border-radius: 8px;
    margin: 12px 12px 12px 0;
}

i {
    width: 300px;
    margin: 12px 12px 12px 0;
}

/* Band Page */

#band-history {
    margin-top: 24px;
    box-sizing: border-box;
}

.band-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
}

.band-text-1 {
    grid-column: 1 / span 2;
}

.band-image-1 {
    grid-column: 3 / span 1;
}

.band-text-2 {
    grid-column: 2 / span 2;
}

.band-image-2 {
    grid-column: 1 / span 1;
}
.band-text-3 {
    grid-column: 1 / span 2;
}

.band-image-3 {
    grid-column: 3 / span 1;
}

.band-image-2a {
    display: none;
}

@media screen and (max-width: 1280px){
.band-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
}

.band-text-1 {
    grid-column: 1 / span 1;
}

.band-image-1 {
    grid-column: 2 / span 1;
}

.band-text-2 {
    grid-column: 2 / span 1;
}

.band-image-2 {
    grid-column: 1 / span 1;
}

.band-text-3 {
    grid-column: 1 / span 1;
}

.band-image-3 {
    grid-column: 2 / span 1;
}
}

@media screen and (max-width: 980px) {
    .band-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .band-text-1 {
        grid-column: 1 / span 1;
    }

    .band-image-1 {
        grid-column: 1 / span 1;
    }

    .band-text-2 {
        grid-column: 1 / span 1;
        
    }

    .band-image-2 {
        display: none;
    }

    .band-image-2a {
        display: block;
        grid-column: 1 / span 1;
        
    }

    .band-text-3 {
        grid-column: 1 / span 1;
    }

    .band-image-3 {
        grid-column: 1 / span 1;
    }
}

.band-image img {
    border-radius: 8px;
    height: auto;
    width: 100%;
}

.band-history {
    margin-top: 0;
    margin-bottom: 24px;
}

.band-image1 {
    margin-top: 24px;
}

.band-text h3 {
        font-family: Nunito, sans-serif;
        font-weight: 500;
        color: #fbc600;
        text-transform: uppercase;
        margin-top: 36px;
        margin-bottom: 24px;
}

/* Contact page*/

#contact {
    clear: both;
}

.contact-container {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
}
.contact-container h3 {
    font-family: Nunito, sans-serif;
    font-weight: 500;
    color: #fbc600;
    text-transform: uppercase;
    margin-top: 36px;
    margin-bottom: 16px;
}
 .contact-container a {
    color: #f2f2f2;
    text-decoration: none;
 }

  .contact-container a:hover {
      color: #fbc600;
      text-decoration: none;
  }
    
 #booking {
    grid-row: 2;
 }

 #merchandise {
    grid-row: 2;
 }

/* Contact form */

#contact-form {
    grid-column: 3 / span 2;
    grid-row: span 3;
}

#contact-form input {
    width: 100%;
    padding: 12px 16px;
    margin: 0 0 24px 0;
    box-sizing: border-box;
    border-radius: 8px;
    border: 3px solid #fbc600;
    background-color: #171a1c;
    color: #f2f2f2;
    font-family: Nunito, sans-serif;
    font-weight: 300;
}

#contact-form input:focus {
    border: 3px solid #ff0000;
}

#contact-form input[type=button] {
    width: 250px;
    border: none;
    background-color: #fbc600;
    color: #171a1c;
    font-family: Nunito, sans-serif;
    font-weight: 500;
    font-size: 120%;
    float: right;
}

#contact-form textarea {
    width: 100%;
    height: 240px;
    padding: 12px 16px;
    margin: 0 0 24px 0;
    box-sizing: border-box;
    border-radius: 8px;
    border: 3px solid #fbc600;
    background-color: #171a1c;
    color: #f2f2f2;
    font-family: Nunito, sans-serif;
    font-weight: 300;
}

#contact-form input[type=submit] {
    background-color: #fcb600;
        height: 40px;
        border: none;
        color: #171a1c;
        padding: 8px 32px;
        text-align: center;
        text-decoration: none;
        font-weight: 500;
        font-size: 110%;
        border-radius: 8px;
        width: 300px;
        float: right;
}

@media screen and (max-width: 1280px) {
    .contact-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #management {
        grid-column: 1 / span 1;
    }

    #record-label {
        grid-column: 1 / span 1;

    }

    #booking {
        grid-column: 1 / span 1;
        grid-row: 3;
    }

    #merchandise {
        grid-column: 1 /span 1;
        grid-row: 4;
    }

    #contact-form {
        grid-column: 2 / span 2;
        grid-row: 1 / span 4;
    }
}

@media screen and (max-width: 980px) {
    .contact-container {
        grid-template-columns: 1fr 1fr;
    }

    #management {
        grid-column: 1 / span 1;
    }

    #record-label {
        grid-column: 1 / span 1;
    }

    #booking {
        grid-column: 1 / span 1;
        grid-row: 3;
    }

    #merchandise {
        grid-column: 1 /span 1;
        grid-row: 4;
    }

    #contact-form {
        grid-column: 2 / span 1;
        grid-row: 1 / span 4;
    }
}

@media screen and (max-width: 660px) {
    .contact-container {
        grid-template-columns: 1fr;
    }

    #management {
        grid-column: 1 / span 1;
    }

    #record-label {
        grid-column: 1 / span 1;

    }

    #booking {
        grid-column: 1 / span 1;
        grid-row: 3;
    }

    #merchandise {
        grid-column: 1 /span 1;
        grid-row: 4;
    }

    #contact-form {
        grid-column: 1 / span 1;
        grid-row: 5;
    }
}


